* {
    box-sizing: border-box;
}
	
html, body {
	height: 100%;
	width: 100%;
	margin: auto;
}

nav, #sidebar-title {
	font-family: 'Mrs Saint Delafield', cursive;
}

#header {
	position: relative;
	border-bottom: 1px solid black;
	background: lightblue;
	height: 150px;
	margin-top: 0;
}

#masthead-list {
	list-style-type: none;
	margin: 1em;
	padding-left: 0;
	padding-right: 20%;
	height: 50px;
	width: 100%;
}

.image-getter, #section-main {
	font-family: 'Libre Baskerville', serif;
}

#general-search {
	min-width: 300px;
	max-height: 2em;
	text-align: center;
}

#title {
	font-size: 60px;
}

#subtitle {
	margin: 1em;
	font-size: 30px;
}

#section-main {
	height: 100%;
	width: 100%;
}

#sidebar-wrapper {
	width: 20%;
	height: 100%;
	margin: 0;
	background-color: gray;
	float: left;
}

#results-wrapper {
	height: 100%;
	width: 80%;
	float: left;
	margin: 0;
	background-color: seagreen;
	display: flex;
	text-align: center;
	align-items: center;
}

.tom-trivia {
	
}