	
body, html {
	height: 100%;
	margin: 0;
	padding: 0;
}

#header {
	border-bottom: 1px solid black;
	background: lightblue;
	height: 150px;
}

#masthead-list {
	list-style-type: none;
	margin: 1em;
	padding-left: 0;
	padding-right: 20%;
	height: 50px;
	width: 100%;
}

#general-search {
	min-width: 300px;
	max-height: 2em;
	text-align: center;
}

#title {
	font-size: 30px;
}

#subtitle {
	margin: 1em;
}

#section-main {
	height: 100%;
}

#wrapper-main {
	height: 100%;
	margin: 0;
	padding: 0;
}

#sidebar-wrapper {
	position: fixed;
	width: 250px;
	height: 100%;
	margin-top: 150px;
	background-color: gray;

#wrapper-results {
	height: 100%;
	margin-top: 150px;
	background-color: seagreen;
}